<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Update Order</title>
</head>
<body>
<h2> Delete Order</h2>
<h5>Order Id to delete the order and corresponding order items</h5>
<form action="" method="post">
    {% csrf_token %}
    <label for="order_id" >Order Id</label>
    <input type="number" name="order_id" id="order-id">
    <button type ="submit">Submit</button>
  </form>
</body>
</html>
